- if style == 'source'
  ac:structured-macro ac:name="code"
    - if (confluence_supported_lang "#{map_to_confluence_supported_lang source_lang}")
      ac:parameter ac:name="language" #{map_to_confluence_supported_lang source_lang}
    - if title?
      ac:parameter ac:name="title" #{title}
    - if attr? :linenums
      ac:parameter ac:name="linenumbers" true
    - if attr? :start
      ac:parameter ac:name="firstline" =(attr :start)
    - if (attr? :collapse, 'true')
      ac:parameter ac:name="collapse" =(attr :collapse)
    ac:plain-text-body
      <![CDATA[#{content}]]>
- else
  ac:structured-macro ac:name="noformat"
    - if title?
      ac:parameter ac:name="title" #{title}
    ac:plain-text-body
      <![CDATA[#{content}]]>
