- case type
- when :xref
  - if cross_page_xref? target
    ac:link
      ri:page ri:content-title=target
      ac:plain-text-link-body
        <![CDATA[#{(xref_text || %([#{attr :refid}]))}]]>
  - else
    ac:link ac:anchor=(anchor_name target || id)
      ac:plain-text-link-body
        <![CDATA[#{(xref_text || %([#{attr :refid}]))}]]>
- when :ref
  ac:structured-macro ac:name="anchor"
    ac:parameter ac:name=""
     =(anchor_name target || id)
- when :link
  - if uriish? target
    a href=target
      =text
  - else
    ac:link
      ri:attachment ri:filename=target
      - if target != text
        ac:plain-text-link-body
          <![CDATA[#{text}]]>
